// gren #c4d600
// black #11111f

.toolbar{
   display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #11111f;  
  
}
.start{
  width: 50%;
  height: 100%;
  margin-left: 10%;
}
.middle{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end{
  width: 50%;
  height: 100%;
  margin-right : 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;

    &__button{
      background: none;
      color: #c4d600;
      border-style: none;
      font-size: large;
      cursor: pointer;
    }

  }


}
.logo{
  width: 50%;
  max-width: 200px;
}